* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #B65252;
  font-family: Arial, Helvetica;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  list-style: none;
}

nav li a {
  display: inline-block;
  text-decoration: none;
  margin-left: 40px;
  font-weight: 550;
  color: #000000;
}

.logopic {
  position: relative;
  max-width: 150px;
}

.navbar {
  position: relative;
  display: flex;
}

.text {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textbox {
  position: relative;
  max-width: 600px;
  margin-right: 20px;
}

.textbox h2 {
  font-size: 2.2em;
  margin-bottom: 10px;
  line-height: 1.4em;
  font-weight: 700;
}

.textbox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #552323;
  color: #fff;
  border-radius: 40px;
  letter-spacing: 1px;
  text-decoration: none;
}

.contacts {
  position: absolute;
  left: 100px;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts li {
  list-style: none;
}

.contacts li a {
  display: inline-block;
  margin-left: 15px;
  background: #fff;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.contacts li a:hover {
  transform: translateY(-10px);
}

.swiper-container {
  width: 600px;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideshow {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}
